
  
    {% extends 'base.html' %}


{% block body %}
    <div style="background-color: #9bbeeb;" >  

      <img src="/static/CloudsPNG.png" class="rounded float-end" width = "200" hieght= "200" alt="...">
      <img src="/static/CloudsPNG.png" class="rounded float-end" width = "200" hieght= "200" alt="...">

      <img src="/static/CloudsPNG.png" class="rounded float-start" width = "200" hieght= "200" alt="...">
    
    <img src="/static/CloudsPNG.png" class="rounded float-start" width = "200" hieght= "200" alt="...">
    

    <h1 class="display-4 text-center"> Calculus at an Elementary Level </h1>
    <p></p>
    <p></p>

    <div class="container text-left display-7 text-center border border-5 whtie" >
        <div class="row">
        <div class="col">
          <b> Calculus is hard because it is different.</b> 
          <br>
          <h6> Many people are driven away because of their inability to grasp fundamental calculus ideas as they are very distinct from the typical math that everyone learns. <br>
             This module will introduce the ideas of calculus with a whole new imagining of the fundamental concepts. <p> </p></h6>
        </div>
    </div>
    </div>
<center>
    <div class="container">
      <div class="row">
        <div class="col-sm">
          <img src="/static/dydx.jpg" alt="" width = "200" height = "200">
        </div>
        <div class="col-sm">
          <img src="/static/Integralsymbol.png" alt="" width = "200" height = "200">
        </div>
        <div class="col-sm">
          <img src="/static/Limitsymbol.png" alt="" width = "200" height = "200">
        </div>
        <div class="col-sm">
          <img src="/static/Sigmasymbol.png" alt="" width = "200" height = "200">
        </div>
      </div>
    </div>        
</center>
<p></p>
<center>
  <div class="container">
    <div class="row">
      <div class="col-sm">
        <img src="/static/Mathfield1.jpg" alt="" width = "400" height = "300">
      </div>
      <div class="col-sm">
        <img src="/static/Mathfield2.jpg" alt="" width = "400" height = "300">
      </div>
      <div class="col-sm">
        <img src="/static/Mathfield3.jpg" alt="" width = "400" height = "300">
      </div>
    </div>
  </div>
</center>



    
    


    

    {% endblock %}