
  
    {% extends 'base.html' %}


{% block body %}
    <div style="background-color: #9b5cc3;" >  

      <img src="/static/CloudsPNG.png" class="rounded float-end" width = "200" hieght= "200" alt="...">
      <img src="/static/CloudsPNG.png" class="rounded float-end" width = "200" hieght= "200" alt="...">

      <img src="/static/CloudsPNG.png" class="rounded float-start" width = "200" hieght= "200" alt="...">
    
    <img src="/static/CloudsPNG.png" class="rounded float-start" width = "200" hieght= "200" alt="...">
    
    <h1 class="display-4 text-center ">Presenting</h1>
    
    



    <h1 class=" display-6 text-center"> Oakland Tech's </h1>

   


    <h1 class="display-4 text-center"> Official Grade Tracker </h1>
    <p></p>
    <p></p>

    <div class="container text-left display-7 text-center border border-5 whtie" >
        <div class="row">
        <div class="col">
          <b> Our Misson statement:</b>
          <p> To make a personalized grade tracking sheet for any class or assignment one wishes <p> </p></p>
        </div>
    </div>
    </div>

    <img src="/static/CloudsPNG.png" class="rounded float-end" width = "200" hieght= "200" alt="...">
    <img src="/static/CloudsPNG.png" class="rounded float-end" width = "200" hieght= "200" alt="...">


     
    <img src="/static/CloudsPNG.png" class="rounded float-start" width = "200" hieght= "200" alt="...">
    <img src="/static/CloudsPNG.png" class="rounded float-start" width = "200" hieght= "200" alt="...">

          
     
<p></p>
    <div id="carouselExample" class="carousel slide">
        <div class="carousel-inner">
        <div class="carousel-item active">
        <img src="/downloads/otbulldog.png" class="d-block w-100" alt="..." width="200" height="400">
      </div>
      <div class="carousel-item">
        <img src="https://www.google.com/imgres?q=homework&imgurl=https%3A%2F%2Fwww.olathelibrary.org%2Fhome%2Fshowpublishedimage%2F6277%2F636511025017270000&imgrefurl=https%3A%2F%2Fwww.olathelibrary.org%2Fonline-resources%2Fonline-learning%2Fhomework-help&docid=A46zJsp1eawCcM&tbnid=7OfeBAC-AEAzHM&vet=12ahUKEwisorXvytOEAxU-JTQIHeuEBV8QM3oECG8QAA..i&w=1920&h=576&hcb=2&ved=2ahUKEwisorXvytOEAxU-JTQIHeuEBV8QM3oECG8QAA" class="d-block w-100" alt="..."  width="400" height="500" >
      </div>
      <div class="carousel-item">
        <img src="/static/homeimg3.jpg" class="d-block w-100" alt="..." width="400" height="500">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>




    
    


    

    {% endblock %}